<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    	<section name="SecurityPolicy" type="MiskoPersist.Core.SecurityPolicy, MiskoPersist" />
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MiskoFinance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
    </configSections>
	<SecurityPolicy LockOutAttempts="5" SessionTokenExpiry="15" ResetLoginCount="5" LockOutDuration="5" MaximumPasswordAge="0" MinimumPasswordAge="0" MinimumPasswordLength="6" />
    <log4net>
        <root>
            <level value="INFO" />
            <appender-ref ref="RollingFileAppender" />
            <appender-ref ref="TraceAppender" />
        </root>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="MiskoFinanceLog.log" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="10" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %level %logger{1} - %message%newline" />
            </layout>
        </appender>
        <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %level %logger{1} - %message%newline" />
            </layout>
        </appender>
    </log4net>
	<userSettings>
		<MiskoFinance.Properties.Settings>
			<setting name="DefaultUsername" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="Hostname" serializeAs="String">
				<value>localhost</value>
			</setting>
			<setting name="LocalDatabase" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="Port" serializeAs="String">
				<value>80</value>
			</setting>
			<setting name="RowsPerPage" serializeAs="String">
				<value>20</value>
			</setting>
			<setting name="Script" serializeAs="String">
				<value>/Service.asmx/ProcessRequest</value>
			</setting>
			<setting name="SerializationType" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="ServerLocation" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="UseSSL" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="WriteMessagesToLog" serializeAs="String">
				<value>True</value>
			</setting>
		</MiskoFinance.Properties.Settings>
	</userSettings>
</configuration>
