<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MiskoFinance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MiskoFinance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
    </configSections><startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
    <userSettings>
        <MiskoFinance.Properties.Settings>
			<setting name="DefaultUsername" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="Hostname" serializeAs="String">
				<value>localhost</value>
			</setting>
			<setting name="LocalDatabase" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="Port" serializeAs="String">
				<value>80</value>
			</setting>
			<setting name="RowsPerPage" serializeAs="String">
				<value>25</value>
			</setting>
			<setting name="Script" serializeAs="String">
				<value>/Service.asmx/ProcessRequest</value>
			</setting>
			<setting name="ServerLocation" serializeAs="String">
				<value>Online</value>
			</setting>
			<setting name="UseSSL" serializeAs="String">
				<value>False</value>
			</setting>
		</MiskoFinance.Properties.Settings>
    </userSettings>
	<applicationSettings>
		<MiskoFinance.Properties.Settings />
	</applicationSettings>
</configuration>