<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MPFinance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MPFinance.Properties.Settings>
            <setting name="DefaultUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultDatasource" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RowsPerPage" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="OracleHost" serializeAs="String">
                <value />
            </setting>
            <setting name="OraclePort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OracleDatasource" serializeAs="String">
                <value />
            </setting>
            <setting name="OracleUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="OraclePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlHost" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlDatasource" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SqliteDatasource" serializeAs="String">
                <value />
            </setting>
        </MPFinance.Properties.Settings>
    </userSettings>
</configuration>