<?xml version="1.0"?>
<configuration>
  <system.web>
    <webServices>
      <protocols>
        <remove name="HttpSoap12"/>
        <remove name="HttpGet"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <appSettings>
    <add key="ConnectionType" value="Sqlite"/>
    <add key="Hostname" value="localhost"/>
    <add key="Database" value="mpfinance"/>
    <add key="Username" value="mpfinance"/>
    <add key="Password" value="mpfinance"/>
    <add key="SqliteDB" value="../MiskoFinance_DB.sqlite3"/>
  </appSettings>
</configuration>