<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.web>
    <webServices>
      <protocols>
        <remove name="HttpSoap12" />
        <remove name="HttpGet" />
      </protocols>
      <conformanceWarnings>
        <remove name="BasicProfile1_1" />
      </conformanceWarnings>
    </webServices>
    <customErrors mode="Off" />
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" />
  </system.web>
  <appSettings>
    <add key="LoginRequired" value="True" />
    <add key="DefaultSerializationType" value="Xml" />
    <add key="ConnectionType" value="Sqlite" />
    <add key="Hostname" value="localhost" />
    <add key="Database" value="mpfinance" />
    <add key="Username" value="mpfinance" />
    <add key="Password" value="mpfinance" />
    <add key="SqliteDB" value="D:\RPMOpen\common\MiskoFinance\MiskoFinance_DB.sqlite3"/>
  </appSettings>
  <log4net>
    <root>
      <level value="Error" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="TraceAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="MiskoFinanceLog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger{1} - %message%newline" />
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger{1} - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>